* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

body {
    font-family: 'Noto Sans JP', sans-serif;	
	background: #f2f2f2;
}
/* =====HEADER=====*/
.navbar {
	background: #94bdf3;
	position: sticky;
	top:0;
}

.navbar a {
	color: #fff;
	display: inline-block;
	padding: 20px;
	width: 100%;
	text-align: center;
	color: #000;
	transition: .3s ease-out all;
}

.navbar a:hover {
	background: #1D2F3D;
	color: #fff;
	text-decoration: none;
}

.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
button{
  width: 120px;
  height: 40px;
  border: 0px;
  margin: 70px;
  margin-left: 620px;
  border-radius: 10px;
  background-color: aqua;
}
.todo{
	/*margin: 60px;*/
	padding-left: 150px;
	display: flex;
}
.todo img{
	width: 400px;
	height: 400px;
}
.todo .texto{
	padding-left: 90px;
	margin: 20px;
}
.todo .texto h2{
	padding-left: 240px;
	padding-bottom: 30px;
}
.todo .texto li{
	padding-top: 30px;
}
@media screen and (max-width:639px){
	main{
		font-size: 50px;
		width: 100%;
	}
}