* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	outline: none;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
}

a:hover {
	text-decoration: underline;
}

body {
	background: #f2f2f2;
}
/* =====HEADER=====*/
.navbar {
	background: #94bdf3;
	top:0;
	border-top: 2px #000;
}

.navbar a {
	color: #fff;
	display: inline-block;
	padding: 20px;
	width: 100%;
	text-align: center;
	color: #000;
	transition: .3s ease-out all;
}

.navbar a:hover {
	background: #1D2F3D;
	color: #fff;
	text-decoration: none;
}

.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(90, 158, 170);
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #1D2F3D}
  
  ul.topnav li a.active {background-color: #1D2F3D}
  
  ul.topnav li.right {float: right;}
  
/* * ============================== */
/* * ===== CONTENEDOR IMAGEN ====== */
/* * ============================== */
.contenedor-imagen{
    font-family: 'Cabin', sans-serif;
	background-color: rgb(108, 181, 194);
	width: 100%;
	height: 150px;
	display: flex;

}
.contenedor-imagen h1{
    font-size: 50px;
	padding-top: 30px;
	padding-left: 470px;
	color: rgb(0,0,0);
}
.contenedor-imagen img{
	float: left;
}
/* * ============================== */
/* * ============ MAIN ============ */
/* * ============================== */

main {
	min-height: 100vh;
}

main .contenido p {
	margin-bottom: 20px;
	line-height: 30px;
	color: #525151;
}

main .contenido .titulo {
    font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	padding-top: 40px;
}

main .contenido .fecha {
	font-size: 14px;
	color: #B5B5B5;
}

/* * ============================== */
/* * ============ ASIDE =========== */
/* * ============================== */

aside {
	min-width: 30%;
	margin: 40px 20px 20px 0;
	height: 100%;
	background: #1D2F3D;
	padding: 20px;
	border-radius: 3px;
	position: sticky;
	top: 20px;
}

aside .titulo {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 20px;
	color: #f2f2f2;
}

aside .indice a {
	display: block;
	margin-bottom: 10px;
	color: #FFCD48;
}

/* * ============================== */
/* * ========== FOOTER ============ */
/* * ============================== */
footer .navbar{
    position: sticky;
    bottom: 0;
}


/* * ============================== */
/* * ====== MEDIA QUERIES ========= */
/* * ============================== */
@media screen and (max-width: 900px){
	.navbar .contenedor {
		flex-wrap: wrap;
		margin: 0;
		width: 100%;
	}

	.navbar a {
		width: auto;
		flex: 1;
	}

	.contenedor-imagen h1{
		padding-left: 30px;
		font-size: 40px;
		margin: 30px;
	}
	.contenedor-imagen img{
		width: 150px;
	}

	main .contenedor {
		flex-direction: column;
	}
	ul{
        font-size: 13px;
    }
    .topnav li.right,
    ul.topnav li {float: none;}
	
}
@media screen and (max-width:639px){
    .navbar .contenedor{
		width: 100%;
	}
	.contenedor-imagen{
     width: 100%;
	 height: 100%;
	}
	ul{
        font-size: 13px;
    }
    .topnav li.right,
    ul.topnav li {float: none;}
	.contenedor-imagen h1{
		padding-left: 30px;
		font-size: 30px;
		padding-right: 120px;
	}
	.contenedor-imagen img{
		width: 120px;
	}
}
